@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/src/font/Vinson-Bold.ttf") format("ttf");
}

body {
  font-family: "Inter";
  scroll-behavior: smooth;
}

.drop-zone {
  scrollbar-width: thin;
}